li.list-cell-body.clearfix
  .col-md-4
    | title
  .col-md-8
    p.name name
    h4.cell-id alias
    small.updated-time 上次登录时间
    .quick-btn-cont.pull-middle-center
      span.check-btn.quick-btn.h-margin-nicer
        span.glyphicon.glyphicon-check(aria-hidden='true')
