.inner-list.col-sm-12
  ul.list-placeholder
  .pager-btn-box.hide
    .btn.empty-btn.prev-btn.disabled
      |上一页
    .btn.empty-btn.next-btn
      |下一页
.inner-loading.col-sm-12
  .loader
.not-data.hide.col-sm-12.text-center
  h1
    span.glyphicon.glyphicon-info-sign.h-margin-nicer.v-align
    span.h-margin-nicer 没有数据
.error-report.hide.col-sm-12.text-center
  h1.error
