.col-lg-4.col-lg-offset-3.clearfix.pull-middle-center
  .panel.text-center.animated.flipInYRefl.sm-delay-1.h-300.w-500
    .panel-body.pull-middle-center
      h1.xl 工单类型:#{type}
      h1.xl(class=isHide) 工单内容:#{detail}
      if (num)
        h1.xl 数量: #{num}
