._panel.time.text-center.animated.flipInY.sm-delay-1
  img.img-responsive.badge(src='#{badgeImg}')
  h1.xl.inline-org-name.policeName
  h2.inline-org-name #{i18n["orgName"]}
  button.btn.btn-empty.big.btn-fixed-len-300.highlight.entry-button
    h1 #{i18n["appApply"]}
  button.btn.btn-empty.big.btn-fixed-len-300.highlight.return-button
    h1 #{i18n["return"]}
