.col-lg-12.clearfix.pull-middle-center
  .panel.blank.text-center.animated.flipInYRefl.sm-delay-1.h-300
    .panel-body.pull-middle-center
      h1.xxl #{text}
      a.btn.btn-empty.big#apply-btn(data-type= type, data-buttontype="noJob")
        h2 去提交申请
