.type-list.clearfix.return_modal
  .inner-list.col-sm-12
    ul.list-placeholder
      li.list-cell-body.clearfix(data-type='returnGun')
        .col-md-12
          h3.text-shadow.cell-id.padding-right40.text-overflow 归还枪
          .quick-btn-cont.pull-middle-center
            span.check-btn.quick-btn.h-margin-nicer
              span.glyphicon.glyphicon-check(aria-hidden='true')
      li.list-cell-body.clearfix(data-type='returnBullet')
        .col-md-12
          h3.text-shadow.cell-id.padding-right40.text-overflow 归还子弹
          .quick-btn-cont.pull-middle-center
            span.check-btn.quick-btn.h-margin-nicer
              span.glyphicon.glyphicon-check(aria-hidden='true')
