.col-lg-4.col-lg-offset-3.clearfix.pull-middle-center
  .panel.text-center.animated.flipInYRefl.sm-delay-1.h-300.w-500
    .panel-body.pull-middle-center
      h1.xl 您的工单已授权通过
      h1.xl 请管理员到对应柜机
      h1.xl 柜机名：#{name}
      h1.xl 柜机IP: #{host}
