.violations-log-main
  div.clearfix.border-bottom
    .title.pull-left
      |违规统计
    span.btn.pull-right#error-button.btn-empty.highlight.h-margin-nicer.change-btn
      |违规
    span.btn.pull-right#waring-button.btn-empty.highlight.h-margin-nicer.change-btn.action
      |警报
  .violations-content
  .pager-box
    .button-group
      .btn#prev-button.glyphicon.glyphicon-backward
      .btn#next-button.glyphicon.glyphicon-forward
    .page-number
      span.page
      span /
      span.all-page
