.search-component-box
  .search-header.seperate-after.col-sm-6.col-md-offset-2
    .form-group
      input.form-control.search-component-has-keyboard(type="search")#search-input
      button.btn.btn-empty.highlight.h-margin-nicer.search-button#search-button
        span.glyphicon.glyphicon-search#search-button-icon
  ul.search-tips-cont.col-sm-6.hide.col-md-offset-2
    li.search-result-li(data-value="搜索结果") 搜索结果
  .search-list-cont
