.buildpath
.project
.settings/
.externalToolBuilders/
.tmp/
node_modules/
config/local.js
config/cabinet.js
**/bower_components/
**/logs/
**/cache/
*.sublime-project
*.sublime-workspace
._.DS_Store
npm-debug.log
.vscode/
www/
dist/
dump.rdb
.eslintrc.js
scripts/ip_conf/interfaces_tmp
version.json
electron/
deb/
.sailsrc
etcd/
.DS_Store
assets/.DS_Store
assets/app/.DS_Store
www.tar