.col-md-offset-1.col-md-8.clearfix.pull-middle-center
  .btn-group.flex-middle.openTypeBtnGroup
    .btn.btn-empty.big.highlight.seperate-before#openBulletBtn
      h2 手动开启弹仓
    .btn.btn-empty.big.highlight.seperate-before#autoOpenBulletBtn
      h2 自动开启弹仓
    .btn.btn-empty.big.highlight.seperate-before#notOpenBulletBtn
      h2 只取枪