.minPage-screen
  .minPage-app_footer.hide
  .minPage-app_header
  .minPage-app_main
    .monitor-container_left
    .monitor-container_right
    .leftmenu-holder.animated.fadeInLeft
      .leftmenu
    .row.right-major.pull-middle-center.mT--20
    .right-major-footer.animated.fadeInUp
      .taskbar
