.col-md-offset-3.col-md-6.clearfix.pull-middle-center.replaceReturnForm
  .panel.text-center.animated.flipInYRefl.sm-delay-1
    .col-sm-12.form-panelbody.pull-middle-center
      .form
        .form-group.form-animate-text.required
          input#bulletNumber.vk.form-text(value="4" type='text', required='',autocomplete="off", title="不能为空")
          span.bar
          label 数量
        .form-group.form-animate-text
          .btn.btn-empty.big.highlight.getBulletNumberBtn
            h2 确定