.col-lg-4.col-lg-offset-3.clearfix.pull-middle-center
  .panel.text-center.animated.flipInYRefl.sm-delay-1.h-300.w-500.overflowY
    .panel-body.pull-middle-center
      h2 柜机已打开
      //- if (type === 'gun' && applications)
      //-   - each item in applications
      //-     h2.xl #{item.cabinetName}柜机已打开
      //- else
      //-   h2.xl #{cabinetName}柜机已经打开
      //- if (type === 'gun')
        h2 柜机已打开
      //- else
      //-   
      //- .bullet_module_list_box
