.lockCabinetPage.container-fluid.alert-screen.screen
  .row.right-major.fullscreen
    h2.tipsH2 #{tips}
    .slide-2.pull-middle-center.text-center.col-md-offset-4.col-md-4.clearfix.animated-transition
      .login
