.container-fluid.KanbanAuth-screen.screen
  .leftmenu-holder.animated.fadeInLeft
    .leftmenu
  .navbar.navbar-default.navbar-fixed-top.animated.fadeInDown
    .container.appm-comp-clock.comp-clock.text-center 代理审核
    .appm-status-bar.text-left#backBtn
    .appm-action-bar.text-right
  .row.right-major
  .right-major-footer.animated.fadeInUp
    .taskbar
