.animated.fadeIn.clearfix.padding-top-20
  .pull-left.col-md-5
    .count-box.clearfix
      .gun-count-box.pull-left
      .bullet-count-box.pull-right
    .violations-log-box.mrg-top-30
  .pull-right.col-md-7
    .table-holder
      table.table#log-table.display(cellspacing='0', width='100%')
  .taskbar-user-detaile.right-major-footer animated fadeInUp
