form.login_panle
  .form.form-signin.pull-middle-center
    .form-group.form-animate-text
      input#username.form-text.has-keyboard(type='text', required='',autocomplete="off", title="密码不能为空")
      span.bar
      label 账号
    .form-group.form-animate-text
      input#password.form-text.has-keyboard(type='password', required='',autocomplete="off", title="密码不能为空")
      span.bar
      label 密码
    .text-center
      button.btn.btn-empty.big.action-btn.btn-fixed-len-300.highlight.seperate-before.login-btn
        h4 登录