.simplesaveget-screen
  .autoUpdateAppBox
  .simple-app_header
  .simple-app_main
    .monitor-container
    .leftmenu-holder.animated.fadeInLeft
      .leftmenu
    .row.right-major.pull-middle-center.mT--20
    .right-major-footer.animated.fadeInUp
      .taskbar
