.container-fluid.apptypem-screen.screen
  .navbar.navbar-default.navbar-fixed-top.animated.fadeInDown
    .container.comp-clock.comp-clock.text-center 欢迎
    .status-bar.text-left
    .action-bar.text-right
    //this is comp section
  .row.right-major.fullscreen
    .edit-cont