
.button-pagin_component
  button.btn.btn-empty.highlight.h-margin-nicer.btn-disabled.click-object(name="prev")
    h4
      .glyphicon.glyphicon-chevron-left.h-margin-nicer
      |上一页
  button.btn.btn-empty.page-number-btn(name="pageNumber")
    h4.page-number
      | 1
  button.btn.btn-empty.highlight.h-margin-nicer.btn-disabled.click-object(name="next")
    h4
      |下一页
      .glyphicon.glyphicon-chevron-right.h-margin-nicer
