.col-sm-12.grid-list
  .inner-list.col-sm-12
  .inner-loading.col-sm-12
    .loader 加载中...
  .no-data.hide.col-sm-12.text-center
    h1.v-margin-nicer
      span.glyphicon.glyphicon-info-sign.h-margin-nicer.v-align
      span.h-margin-nicer 没有数据
  .error-report.hide.col-sm-12.text-center
    h1.error
