.facePerceptionComponent.panel.text-center.animated.flipInYRefl.sm-delay-1
  h2  人脸识别验证
  .faceImg.facePicture.mrgT40
    img#faceLoginImg(src=img)
  .facePerception-button
    .row
      button.faceLogin-button.btn.btn-empty.big.highlight.seperate-before.action-btn
        h2 进行识别
