.container-fluid.home-screen.screen
  // start: Content
  .lock-screen.row
    .col-md-12
      .col-md-offset-2.col-md-4.col-sm-12
        .logo_with_title.panel.time.text-center.animated.flipInY.sm-delay-1
          img.img-responsive.logo_pic#logoPic(src='#{badgeImg}')
          h2.xl.inline-org-name#title1 智能枪支弹药专用保险柜
          h1.xl.inline-org-name#title2 管理系统
      .col-md-4.col-sm-12
        .panel.time.text-center.animated.flipInYRefl.sm-delay-3
          .pull-middle-center
            h2.inline-date-year.animated.fadeInUp.sm-delay-8
            h2.xxl.inline-time.animated.fadeInUp.sm-delay-9
    //- div.home_arrow_left.my-arrow
    //- div.home_arrow_right.my-arrow
footer.footer
