.simeple_viewer_cp#simpleViewerBox
  span#viewer_close-btn.close-btn.glyphicon.glyphicon-remove
  .picture_box
    img.currentPic
    .percentage_box.hide
  .bar_box
    span#viewer_decreaseSize-btn
      .glyphicon.glyphicon-minus
    span#viewer_increaseSize-btn
      .glyphicon.glyphicon-plus
    span#viewer_restore-btn
      .glyphicon.glyphicon-repeat
    span#viewer_left-btn
      .glyphicon.glyphicon-arrow-left      
    span#viewer_right-btn
      .glyphicon.glyphicon-arrow-right
    span#viewer_reversal-btn
      .glyphicon.glyphicon-share-alt      