.asyncDate
  .form.col-md-12.no-margin.slide-3
    .form-group.form-animate-text
      input#start.form-text.dateInput(name="start", type='text', autocomplete="off")
      span.bar
      label 开始时间
    .form-group.form-animate-text
      input#end.form-text.dateInput(name="end", type='text',autocomplete="off")
      span.bar
      label 结束时间