.container-fluid.signup-screen.screen
  .navbar.navbar-default.navbar-fixed-top.animated.fadeInDown
    .container.comp-clock.text-center 注册新用户
    .status-bar.text-left
    .action-bar.text-right
  .col-md-12.pull-middle-center
    .signup-form-container.col-md-offset-4.col-md-4.col-sm-12.animated-transition
