#writePadComponent
  .content
    canvas#signature
  .footer
    .button-group
      button.btn.btn-empty.highlight.button-group__item(name="clear")
        h1 清空
      button.btn.btn-empty.highlight.button-group__item(name="save")
        h1 保存
