.list-cont
  .actions-bar.seperate-after.animated.fadeIn.col-sm-12
    .pull-left
      button.btn.btn-empty.highlight.button-group__item(name="refresh")
        h4
          |刷新列表
          .glyphicon.glyphicon-refresh.h-margin-nicer
    .pull-right.paging-btn-box
.edit-cont
.detaile-cont
