.container-fluid.quickdook-screen.screen
  .leftmenu-holder.animated.fadeInLeft
    .leftmenu
  .navbar.navbar-default.navbar-fixed-top.animated.fadeInDown
    .container.appm-comp-clock.comp-clock.text-center 已授权工单列表
    .appm-status-bar.text-left
    .appm-action-bar.text-right
  .row.right-major
  .right-major-footer.animated.fadeInUp
    .taskbar
