.col-lg-12.clearfix.pull-middle-center
  .panel.blank.text-center.animated.fadeInDown.sm-delay-1.h-300
    .panel-body.pull-middle-center
      h1.xxl 您还没有配枪，你需要管理员为您分配枪支
      a.btn.btn-empty.big#cancel-gun-btn
        h2 我知道了
