.menu-entry-mask
.menu-entry_container
  .menu-list_ul.button-list-ul
    button.menu-list_li(name="maintain", class=type === 'both'? '':'hide')
      | 维护
    button.menu-list_li(name="returnmaintain", class=type === 'both'? '':'hide')
      | 维护还枪
    button.menu-list_li(name="emergency")
      | 紧急全开
    button.menu-list_li(name="authorized")
      | 记录管理
    button.menu-list_li(name="userInfo")
      | 用户信息
    button.menu-list_li(name="system")
      | 系统设置