.col-lg-12.clearfix.pull-middle-center
  .panel.blank.text-center.animated.flipInYRefl.sm-delay-1.h-300
    .panel-body.pull-middle-center
      h1.xxl 您还没有申请记录或者申请未审核通过
      h1.xxl 请先申请或者等待审核
      a.btn.btn-empty.big#apply-btn
        h2 去提交申请
