.container-fluid.dutyshiftmanagement-screen.screen
  .leftmenu-holder.animated.fadeInLeft
    .leftmenu
  .navbar.navbar-default.navbar-fixed-top.animated.fadeInDown
    .container.appm-comp-clock.comp-clock.text-center #{i18n["userManage"]} / #{i18n["dutyshiftmanagement"]}
    .appm-status-bar.text-left
    //this is comp section
    .appm-action-bar.text-right
    //this is comp section
  .row.right-major
    //.row.search-box.seperate-after this is search box
    //.row.tag-list.seperate-after this is tag
    .list-cont
      .col-sm-12.calendar-cont
        #calendar.animated.fadeIn
    .edit-cont
