.container-fluid.boxlogin-screen.screen
  .navbar.navbar-default.navbar-fixed-top.animated.fadeInDown
    .container.comp-clock.text-center 欢迎, 请进行身份验证
    .status-bar.text-left
    .text-right
      .comp-action-bar.passwordLogin 密码登录
    //- this is comp section
  .loginBox.col-md-12.clearfix.pull-middle-center
