.animated.fadeIn.sm-delay-1
  .container.form-panelbody
    form
      .col-md-6.col-md-offset-3.pull-middle-center
        .form
          p.error-info.hide 发生了错误
          .form-group.form-animate-text.col-md-12
            input#time.form-text(name="time", type='time', required='',autocomplete="off")
            span.bar
            label 系统时间设置
  .right-major-footer.animated.fadeInUp
    .taskbar